.navbar {
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 30px;
margin-right: 50px;
}

.navbar a { 

    color:black;
    font-size: 26px;
    font-family: arial,sans-serif;
    margin: 10px 12px;
    text-decoration: none;
    }

#login {
    font-weight: bold;
    color: white;
    background: #4285F4;;
    padding: 15px 15px;
    border-radius: 4px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
}
.search {
    height: 90px;
    width: 750px;
    margin-bottom: 40px;
    border-radius: 42px;
    
}
.button {
    font-size: 20px;
    text-align: center;
    padding: 15px 32px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 6px;
    color: #3c4043;
    font-family: arial,sans-serif;
    margin-right: 12px;
    margin-left: 12px;
    text-decoration: none;
}


.main-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

p {
    line-height: 28px;
    font-family: arial,sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
margin-top: 150px;
margin-bottom: 20px;
height: 150px;
width: 400px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
}

input[type="search"] {
    font-family: FontAwesome;
    font-size: 30px;
}

hr {
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

.country {
    margin-left: 50px;
    color: gray;
    font-size: 25px;
}

footer {
    background-color: #f0f0f0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid #e6e6e6;
    border-radius: 1px;
}

.footer {
    display: grid;
    justify-items: center;
    margin-top: 20px;
}

.footer a {
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 10px;
}